* {
    box-sizing: border-box;
}

.container {
    margin-top: 100px;
    width: 100% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    position: relative;
}
.glyphicon-chevron-left {
    left: 20% !important;
}
.glyphicon-chevron-right{
    right: 20% !important;
}
.carousel-inner {
    position: relative !important;
}
.carousel {
    width: 100% !important;
}
.carousel-caption {
   right: 85% !important;
    top: 25% !important;
    left: 15% !important;
    width: 40% !important;
text-align: left !important;
    position: absolute !important;
}
.carousel-caption h3 {
    font-size: 50px;
    color: antiquewhite;
}
.carousel-caption p {
    font-size: 25px;
}
.carousel-caption-one {
    left: 50% !important;
    top: 25% !important;
    right: 50% !important;
    width: 40% !important;
    text-align: left !important;
    position: absolute !important;
}
.introduce {
    height: 760px;
    width: 100vw;
    background: white;
    position: relative;
}
.pricing {
    height: fit-content;
    width: 100%;
    background: antiquewhite;
    position: relative;
}
.pricing-text {
    height: 300px;
    max-width: 936px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 200px;
    padding-left: 20px;
}
.pricing-text h2 {
    font-size: 50px;
}
.pricing-text p {
    font-size: 20px;
    font-style: italic;
}
.packages {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    text-align: center;
    --columns: 3;
    --spacing: 25px;
    margin: calc(-1 * var(--spacing));
    left: 17%;
    padding-bottom: 200px;
}
.package-tittle {
    height: 50px;
}
.package-tittle p {
    padding-top: 10px;
    font-family: Arial;
    font-style: italic;
    font-size: 20px;
    color: white;
}
.price-package {
    width: 100%;
    height: 150px;
    background-color: white;
    box-sizing: border-box;
    font-family: Inter;
}
.price-package h1 {
    padding-top: 40px;
    color: #c93e6a;
}
.package button {
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #c93e6a!important;
    border: solid white !important;
    color: white !important;
}
.package button:hover {
    background-color: antiquewhite !important;
    color: #c93e6a !important;
}
.text-package {
    height: 200px;
    padding-top: 20px;
    font-size: 18px;
    font-family: Arial;
    color: white;
}
.btn-pricing {
    border-top: 2px solid white;
    height: 50px;
    padding-top: 20px;
}
.package {
    box-sizing: border-box;
    background-color: #c93e6a;
    height: 500px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px white;
    display: flex;
    flex-direction: column;
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
    opacity: 0;
}
.gallery {
    height: fit-content;
    width: 100%;
    background: white;
    position: relative;
}
.gallery-text {
    height: 50px;
    max-width: 936px;
    margin: 50px auto;
    padding-left: 20px;
}
.gallery-text h2 {
    font-size: 50px;
}
.gallery-img {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    text-align: center;
    --columns: 3;
    --spacing: 25px;
    margin: calc(-1 * var(--spacing));
    left: 17%;
    padding-bottom: 100px;
}
.img {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
}
.service {
    height: 980px;
    width: 100%;
    background: white;
    position: relative;
    display: block;
}
.service-item {
    max-width: 1250px;
    margin: auto;
    position: relative;
}
.service-item-1{
    width: 500px;
    height: auto;
    object-fit: contain;
}
.service-item-2{
   width: 500px;
    height: auto;
    object-fit: contain;
}
.service-item img {
    transition: all 0.3s ease-in-out;
}
.service-item img:hover {
    transform: scale(1.1);
}
.item-text p{
    font-family: Inter;
    color: #c93e6a;
    margin-top: 15px;
    font-size: 25px;
}
.item-text {
    text-align: center;
    height: 60px;
    width: 450px;
    background: white;
    position: absolute;
    margin: 250px 25px;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}
.item-text:hover {
    transform: translateY(-30px);
    background: antiquewhite;
    text-decoration-line: none;
}
.service-item-3{
    width: 500px;
    height: auto;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
}
.service-item-4{
    width: 500px;
    height: auto;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
}
.service-item-5{
    width: 500px;
    height: auto;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
}
.service-item-6{
    width: 500px;
    height: auto;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
}
.service-text {
    height: 300px;
    max-width: 936px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 200px;
    padding-left: 20px;
}
.service-text h2 {
    font-size: 50px;
}
.service-text p{
    font-size: 20px;
    font-style: italic;
}
h2 {
    color: #c93e6a !important;
}
@media screen and (max-width: 1600px)  {
    .carousel-caption h3 {
        font-size: 40px;
        color: antiquewhite;
    }
    .carousel-caption p {
        font-size: 15px;
    }
}

@media screen and (max-width: 1024px) {
    .gallery-img {
        --columns: 3;
    }
    .carousel-caption h3 {
        font-size: 25px;
        color: antiquewhite;
    }
    .carousel-caption p {
        font-size: 10px;
    }
    .carousel-caption button {
        font-size: 70%;
    }
    .carousel-caption {
        top: 10%;
    }
}
@media screen and (max-width: 700px) {
    .packages {
        --columns: 1;
    }
    .gallery-img {
        --columns: 2;
    }
    .carousel-caption h3 {
        font-size: 20px;
        color: antiquewhite;
    }
    .carousel-caption p {
        font-size: 5px;
    }
    .carousel-caption a {
        font-size: 50%;
    }
    .carousel-caption {
        top: 10% !important;
    }
    .service-item-1, .service-item-2, .service-item-3, .service-item-4, .service-item-5, .service-item-6 {
        width: 400px;
    }
    .item-text {
        text-align: center;
        height: 50px;
        width: 350px;
        margin: 200px 25px;
    }
    .item-text p {
        margin-top: 15px;
        font-size: 20px;
    }
}