* {
    box-sizing: border-box;
}

.wrapper{
    background-color: antiquewhite;
    height: 980px;
    margin-top: 100px;
    width: 100%;
    position: relative;
}
.container {
    position: relative;
    padding-top: 100px;
}
.introduce {
    width: 40%;
    position: absolute;
    margin-right: auto;
}
.introduce h3 {
    font-family: Arial;
    text-transform: uppercase;
}
.introduce h1 {
    font-family: Inter;
    color: #c93e6a;
}
.container button {
    background-color: antiquewhite!important;
    border: solid #c93e6a !important;
    color: #c93e6a !important;
    margin-top: 320px;
    position: absolute;
    z-index: 5;
}
.container button:hover {
    background-color: white !important;
}
.introduce p {
    font-family: Arial;
    font-style: italic;
}
.introduce-img-big {
    width: 40%;
    box-shadow: -10px 10px #c93e6a;
    right: 0%;
    margin-right: 40px;
    position: absolute;
    transition: all 0.3s ease-in-out;
}
.introduce-img-big:hover {
    transform: scale(1.1);
}
.introduce-img-big img {
    width: 100%;
    object-fit: contain;
}
.name_artist {
    width: 80%;
    background-color: white;
    height: 50px;
    position: absolute;
    margin-top: 85%;
    text-align: center;
}
.name_artist p{
    margin-top: 10px;
    color: #c93e6a;
    font-style: italic;
    font-family: Inter;
    font-size: 20px;
}
.introduce-img-small {
    margin-left: 20px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 400px;
    position: absolute;
}
.introduce-img-small img:hover {
    transform: scale(1.1);
}

.introduce-img-small img {
    width: 200px;
    object-fit: contain;
    box-shadow: -10px 10px #c93e6a;
    transition: all 0.3s ease-in-out;
}
.pricing {
    height: fit-content;
    width: 100%;
    background: antiquewhite;
    position: relative;
}
.pricing-text {
    height: 300px;
    max-width: 936px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 200px;
    padding-left: 20px;
}
.pricing-text h2 {
    font-size: 50px;
}
.pricing-text p {
    font-size: 20px;
    font-style: italic;
}
.packages {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    text-align: center;
    --columns: 3;
    --spacing: 25px;
    margin: calc(-1 * var(--spacing));
    left: 17%;
    padding-bottom: 200px;
}
.package-tittle {
    height: 50px;
}
.package-tittle p {
    padding-top: 10px;
    font-family: Arial;
    font-style: italic;
    font-size: 20px;
    color: white;
}
.price-package {
    width: 100%;
    height: 150px;
    background-color: white;
    box-sizing: border-box;
    font-family: Inter;
}
.price-package h1 {
    padding-top: 40px;
    font-family: Inter;
    color: #c93e6a;
}
.package button {
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #c93e6a!important;
    border: solid white !important;
    color: white !important;
}
.package button:hover {
    background-color: antiquewhite !important;
    color: #c93e6a !important;
}
.text-package {
    height: 200px;
    padding-top: 20px;
    font-size: 18px;
    font-family: Arial;
    color: white;
}
.btn-pricing {
    border-top: 2px solid white;
    height: 50px;
    padding-top: 20px;
}
.package {
    box-sizing: border-box;
    background-color: #c93e6a;
    height: 500px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px white;
    display: flex;
    flex-direction: column;
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
    opacity: 0;
}
.gallery {
    height: fit-content;
    width: 100%;
    background: white;
    position: relative;
}
.gallery-text {
    height: 50px;
    max-width: 936px;
    margin: 50px auto;
    padding-left: 20px;
}
.gallery-text h2 {
    font-size: 50px;
}
body h2 {
    font-weight: bold;
    font-family: Arial;
}
.gallery-img {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    text-align: center;
    --columns: 3;
    --spacing: 25px;
    margin: calc(-1 * var(--spacing));
    left: 17%;
    padding-bottom: 100px;
}
.img {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
}
.img img {
    width: 400px;
    object-fit: contain;
}
.service {
    height: 980px;
    width: 100%;
    background: white;
    position: relative;
    display: block;
}
.service-item {
    max-width: 1250px;
    margin: auto;
    position: relative;
}
.service-item-1{
    width: 500px;
    height: auto;
    object-fit: contain;
}
.service-item-2{
    width: 500px;
    height: auto;
    object-fit: contain;
}
.item-text p{
    font-family: Inter;
    color: #c93e6a;
    margin-top: 15px;
    font-size: 25px;
}
.service-item img {
    transition: all 0.3s ease-in-out;
}
.service-item img:hover {
    transform: scale(1.1);
}
.item-text p{
    font-family: Inter;
    color: #c93e6a;
    margin-top: 15px;
    font-size: 25px;
}
.item-text {
    text-align: center;
    height: 60px;
    width: 450px;
    background: white;
    position: absolute;
    margin: 250px 25px;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}
.item-text:hover {
    transform: translateY(-30px);
    background: antiquewhite;
    text-decoration-line: none;
}
.service-item-3{
    width: 500px;
    height: auto;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
}
.service-item-4{
    width: 500px;
    height: auto;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
}
.service-item-5{
    width: 500px;
    height: auto;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
}
.service-item-6{
    width: 500px;
    height: auto;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
}
.service-text {
    height: 300px;
    max-width: 936px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 200px;
    padding-left: 20px;
}
.service-text h2 {
    font-size: 50px;
}
.service-text p{
    font-size: 20px;
    font-style: italic;
}
h2 {
    color: #c93e6a!important;
}
.input-group {
    margin-bottom: 20px!important;
}
.row {
    margin-bottom: 20px!important;
}
.modal-header {
    background-color: #c93e6a;
    color: white !important;
}
.modal-header button {
    color: white !important;
}
.btn-success {
    background-color: #c93e6a !important;
    border: none !important;
}
.btn-success:hover {
    background-color: antiquewhite !important;
    color: #c93e6a !important;
}
@media screen and (max-width: 1200px) {
    .packages {
        --columns: 1;
    }
    .gallery-img {
        --columns: 2;
        padding-top: 100px;
    }
    .introduce-img-small {
        padding-top: 500px;
        left: 17%;
    }
    .container button {
        margin-top: 350px;
    }
}
@media screen and (max-width: 985px) {
    .container button {
        margin-top: 400px;
        margin-left: 450px;
    }
}
@media screen and (max-width: 700px) {
    .introduce-img-small {
        flex-direction: column;
        padding-top: 300px;
        width: 40%;
        left: 48%;
    }
    .introduce-img-big {
        box-shadow: -10px 10px #c93e6a;
    }
    .introduce-img-small img {
        margin-bottom: 40px;
        box-shadow: -10px 10px #c93e6a;
    }
    .name_artist {
        height: 30px;
    }
    .name_artist p {
        margin-top: 5px;
        font-size: 15px;
    }
    .container button {
        margin-top: 600px;
        left: 0;
        right: 60%;
        margin-left: 30px;
    }
    .service-item-1, .service-item-2, .service-item-3, .service-item-4, .service-item-5, .service-item-6 {
        width: 400px;
    }
    .item-text {
        text-align: center;
        height: 50px;
        width: 350px;
        margin: 200px 25px;
    }
    .item-text p {
        margin-top: 15px;
        font-size: 20px;
    }
}
