.makeupartist {
    height: fit-content;
    width: 100%;
    background: white;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
}
.artist-text {
    height: 50px;
    max-width: 936px;
    margin: 100px auto;
    padding-top: 200px;
    padding-left: 20px;
}
.artist-text h2 {
    font-size: 50px;
    color: #c93e6a;
}
body h2 {
    font-weight: bold;
    font-family: Arial;
}
.artist-text p{
    font-size: 20px;
    font-style: italic;
}
.artist-items {
    padding-top: 100px;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    padding-bottom: 100px;
}
.artist-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 50px;
    box-shadow: 10px 10px antiquewhite;
    transition: all 0.3s ease-in-out
}
.artist-item:hover {
    transform: scale(1.1);
}
.artist-img {
    width: 600px;
}
.artist-img img {
    width: 600px;
    object-fit: contain;
}
.item-text p{
    font-family: Inter;
    color: #c93e6a;
    margin-top: 15px;
    font-size: 25px;
}
.item-text {
    width: 550px;
    height: 60px;
    position: absolute;
    background: antiquewhite;
    margin: 500px 25px;
}
.item-text:hover {
    background: white;
    text-decoration-line: none;
}

@media screen and (max-width: 1650px) {
    .artist-items {
        padding-top: 100px;
    }
    .artist-img {
        width: 500px;
    }
    .artist-img img {
        width: 500px;
    }
    .item-text {
        width: 450px;
        height: 60px;
        margin: 430px 25px;
    }
}
@media screen and (max-width: 1350px) {
    .artist-items {
        padding-top: 100px;
    }
    .artist-img {
        width: 400px;
    }
    .artist-img img {
        width: 400px;
    }
    .item-text {
        width: 350px;
        height: 60px;
        margin: 330px 25px;
    }
}
@media screen and (max-width: 1100px) {
    .artist-items {
        padding-top: 100px;
    }
    .artist-img {
        width: 300px;
    }
    .artist-img img {
        width: 300px;
    }
    .item-text {
        width: 250px;
        height: 60px;
        margin: 230px 25px;
    }
}
@media screen and (max-width: 800px) {
    .artist-items {
        padding-top: 100px;
        margin-right: 60px;
    }
    .artist-img {
        width: 500px;
    }
    .artist-img img {
        width: 500px;
    }
    .item-text {
        width: 450px;
        height: 60px;
        margin: 430px 25px;
    }
}
@media screen and (max-width: 600px) {
    .artist-items {
        padding-top: 100px;
    }
    .artist-img {
        width: 400px;
    }
    .artist-img img {
        width: 400px;
    }
    .item-text {
        width: 350px;
        height: 60px;
        margin: 330px 25px;
    }
}